.cone-viewer {
    max-width: 99%;
    max-height: 100%;
    height: 100%;
    width: 99%;
    // max-width: 100%;
    // flex: 1 0 auto;
    display: block;
    box-sizing: border-box;
    background-color: white;
}
